* {
    margin: 0;
    padding: 0;
}

#side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.projects-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.grid-container {
    display: grid;
}

.btn-add-project {
    border: 10;
}

/* ---- MODAL ----- */
#project-modal,
#todo-modal {
    display: none;
}

.modal {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.new-project-modal {
    background-color: white;
    border-radius: 8px;
    width: 450px;
    max-width: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateY(10px);
}
/*  Project Modal */


/* ToDo Modal */
